.home{
    width:100%;
    height:602px;
    background-size: 100%;
    padding-left:20px;
    padding-top:20px;
    display:flex;
}
.home__item{
    height:200px;
    display:flex;
    justify-content: flex-start;
}

.home__img{
    width:200px;
    height:200px;
}

.home__content{
    padding-left:20px;
}
