.header{
    width:100%;
    height:60px;
    background-color:#ffeb36;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.75);
}

.headline-burger{
    width:40px;
    height:40px;
    padding:10px;
    cursor:pointer;
}