.sidebar{
    height:580px;
    width:40%;
    background-color:rgba(87, 87, 87,.9);
    box-shadow: 2px 0px 2px -1px rgba(0,0,0,0.75);
    overflow-y: scroll;
}

.sidebar__item{
    color:rgb(255,255,255);
    height:60px;
    font-size:18px;
    padding:2px;
    border-bottom:1px solid white;
    cursor:pointer;
    display:flex;

}
.sidebar__content{
    padding:15px;
}
.sidebar_img{
    height:60px;
    width:60px;
    border-radius:50%;
}
